<!DOCTYPE html>
<html>
<head>
    <title>GB Comics Reader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
</head>
<body>
    <ul id="comic_list">
        {% for comic in comics %}
            <li>
                <a href="/comic_page?comic_name={{comic.id}}&page=0">
                    <img style="width:200px;" src="{{comic.folder_image}}">
                </a>
            </li>
        {% end %}
     </ul>
</body>
</html>