html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}

body {
    background-color: black;
}

.comic_image {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

ul#comic_list li {
    display:inline;
}